<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-purple">
    
    <!-- Left side: logo and copyright -->
    <div class="col-md-4 d-flex align-items-center text-purple">
      <a href="/" class="me-2 text-purple text-decoration-none lh-1 fs-4" aria-label="CafeDiff Logo">
        🎮
      </a>
      <span>© 2025 Cafe Diff</span>
    </div>

    <!-- Centered quote -->
    <div class="col-12 col-md-4 text-center text-purple small fst-italic">
      Where gamers make an Impact!
    </div>

    <!-- Right side: social icons -->
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-purple" href="#" aria-label="Instagram">
          <svg class="bi" width="24" height="24" fill="currentColor" aria-hidden="true">
            <use xlink:href="#instagram" />
          </svg>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-purple" href="#" aria-label="Facebook">
          <svg class="bi" width="24" height="24" fill="currentColor" aria-hidden="true">
            <use xlink:href="#facebook" />
          </svg>
        </a>
      </li>
    </ul>

  </footer>
</div>
